<% include header %>

<% include nav-header %>

<% include scripts %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.js"></script>
<script src="./js/chatroom.js"></script>

<div class="container">
    <div class="row">
        <div class="col-xs-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Public Chat Room - <span><%= userSession.firstname + ' ' + userSession.lastname %></span>
                    <!--<div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li><a href="#"><span class="glyphicon glyphicon-refresh">
                            </span>Refresh</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-ok-sign">
                            </span>Available</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-remove">
                            </span>Busy</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-time"></span>
                                Away</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><span class="glyphicon glyphicon-off"></span>
                                Sign Out</a></li>
                        </ul>
                    </div>-->
                </div>
                <div class="panel-body panel-body-custom" id="mainChat">
                    <ul class="chat"></ul>
                    <span class="typing"><small class="textTyping"></small></span>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="chat-content" name="chat-content" type="text" value="" class="form-control input-sm" placeholder="Type your message here...">
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-send-chat" name="btn-send-chat">
                                Send</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 pd0">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-user"></span> <span>Online Users</span> <span class="badge" id="ou"><span class="glyphicon glyphicon-refresh gly-spin"></span></span>
                </div>
                <div class="panel-body panel-body-custom pd0 ulist" id="user-list" data-toggle="modal" data-target="#privateChat">
                        <ul class="list-group bdr-right0">
                        </ul>
                </div>
                <div class="panel-footer pd15">
                    <div class="input-group">
                        Click on user to initiate private chat.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="privateChat" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Private Chat</h4>
        </div>
        <div class="modal-body">
          <p>Coming soon.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<% include footer %>