<% include header %>

<% include nav-header %>

<% include scripts %>

<div class="container">
      <div class="row">
      
        <div class="col-xs-12 col-sm-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 toppad">
      
        <div>
          <h1>Welcome to Node.js and Redis sample chat application.</h1>
        </div>   
          <img src="./images/chat-icon.png" style="width:200px;height:200px;" class="img-responsive center-block">
        </div>
      </div>
    </div>

<% include footer %>
